body{
	text-align : center;
	padding-top: 30px;
	background-color: #D3D3D3;
}

.text{
	padding-top: 10px;
}
.box{
	width:370px;
}
.firstbox {
	width: 310px;
}
.search {
	background-color:#B86B77;
	color:#ffff;
}
.add{
	background-color: #236B8E;
	color: #ffffff
}
.edit{
	background-color: #008080;
	color: #ffff;
}
.delete{
	background-color: #E1AD01;
	color: #ffff;
}



